*{
    margin:  0 ;
    padding: 0 ;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: black;
}
.box i{
    font-size: 40vh;
    position: relative;
    color: white;
    text-shadow: 0 0 50px red,
                 0 0 100px red,
                 0 0 150px red,
                 0 0 200px red;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%{
        filter: hue-rotate(0deg);
    }

    100%{
        filter: hue-rotate(100deg);
    }
}